@import "tailwindcss";

body {
  @apply m-0;
  font-family: var(--font-inter);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "InterVar";
  src: url("/fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype-variations");
  font-weight: 1 999;
  font-display: swap;
}

@theme {
  --font-inter: "InterVar", sans-serif;
}

:root {
  --primary: #F6F4EE;
  --secondary: #3572ef;
  --accent: #000000;
  --soft: #a7e6ff;
}
